body{
font-family:Arial;
font-size: 11pt;
}

#NoiDung{
width: 960px;
margin:0px auto;
}

#DauTrang{
width: 960px;
height:192px;
background:url(../images/banner.jpg) no-repeat;
}
#GiuaTrang{
width: 960px;
}
#BenTrai{
width:220px;
float: left;
}
#BenTrai h3 {
font-size:13pt;
background: url(../images/h3_bg.gif);
height: 34px;
padding:8px 0 0 3px;
box-sizing: border-box;
color: #ffffff;
margin-bottom: 0;
}
#BenTrai ul {
list-style-image:url(../images/ul.gif);
padding-left:20px;
border:1px solid #d5653b;
margin-top: 0;
}
#BenTrai a:link{
color:#0000ff;
 text-decoration:none;
}
#BenTrai a:hover{
color: #ff0000;
text-decoration:underline;
}


#BenPhai {
width:730px;
float:right;
}
#BenPhai h3{
font-size:13pt;
background: url(../images/content_title_bar.png) no-repeat;
height: 34px;
padding:8px 0 0 35px;
box-sizing: border-box;
color:#7A2211;
margin-top: 15px;
}
#BenPhai p{
text-align: justify;
}
.TacGia {
text-align: right !important;
font-weight: bold;
}

#CuoiTrang{
width:960px;
height: 50px;
background:url(../images/footer.jpg);
color:#7A2211;
clear:both;
text-align:center;
padding-top:15px;
box-sizing:border-box;
}
